body{
    background-color: #F7FFDD;
}

.bigger_child{
    font-size: 75px;
    font-family:'permanent marker';
    text-align: center;
    background-color:#EFD780;
    width: 600px;
    height: 125px;
    border: 10px solid #DBA159;
    margin: auto;
    border-radius: 40px;
}

.bigger-parent{
    display: grid;
}

.bgrparent{
    display: grid;
    text-align: center;
    font-family:'Merriweather';
    font-size: 45px;
}

.parent{
    display:grid;
    grid-template-columns:30% 60%;
    gap: 5%;
    text-align: center;
}

.links{
    font-family: 'permanent marker';
    background-color:#EFD780;
    border: 10px solid #DBA159;
    border-radius: 20px;
    font-size: 37px;
}

.info{
    font-family: 'oxygen';
    background-color:#EFD780;
    border: 10px solid #DBA159;
    border-radius: 20px;
    font-size: x-large;
}

.types{
    font-size: 25px;
    font-family: 'Merriweather';
}

.other-med{
    font-family: 'oxygen';
    text-decoration: none;
    font-size: large;
    color: black;
}